
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<div class="col-md-12 offset-1">
    <h2>HİZMETLERİMİZ</h2>
</div>

<div class="col-md-12 offset-1">
    <div>
        <h3> 1. Geniş Etkinlik Yelpazesi</h3>
        E-Bilet olarak, kullanıcılarımıza geniş bir etkinlik yelpazesi sunuyoruz. Konserler, tiyatro gösterileri,
        spor etkinlikleri, kültürel etkinlikler ve daha fazlası. Sizin için en özel ve ilgi çekici etkinliklere
        erişim sağlamak için sürekli olarak etkinlik listemizi güncelliyoruz.
    </div>

    <div>
        <h3> 2. Hızlı ve Güvenli Bilet Satın Alma</h3>
        Müşterilerimizin zamanını değerli buluyoruz. Kullanıcı dostu arayüzümüzle, sadece birkaç adımda hızlı
        ve güvenli bir şekilde bilet satın alabilirsiniz. Güçlü online ödeme sistemimiz ve gelişmiş güvenlik
        önlemlerimizle kullanıcılarımızın bilgilerini koruyoruz.
    </div>

    <div>
        <h3> 3. Esnek Bilet Seçenekleri</h3>
        Etkinliklere katılımı daha da kolaylaştırmak için esnek bilet seçenekleri sunuyoruz. İsterseniz genel
        biletlerden VIP seçeneklere, aile paketlerinden öğrenci indirimlerine kadar çeşitli seçenekler arasından
        tercih yapabilirsiniz.
    </div>

    <div>
        <h3> 4. Mobil Uygulama Desteği</h3>
        E-Bilet mobil uygulamamızla, her an her yerden etkinliklere erişebilir ve bilet satın alabilirsiniz.
        Kullanıcı dostu mobil uygulamamız, etkinliklere katılımı daha da kolaylaştırıyor.
    </div>

    <div>
        <h3> 5. 7/24 Müşteri Desteği</h3>
        Müşterilerimizin zamanını değerli buluyoruz. Kullanıcı dostu arayüzümüzle, sadece birkaç adımda hızlı
        ve güvenli bir şekilde bilet satın alabilirsiniz. Güçlü online ödeme sistemimiz ve gelişmiş güvenlik
        önlemlerimizle kullanıcılarımızın bilgilerini koruyoruz.
    </div>

    <div>
        <h3>6. Özel İndirim ve Kampanyalar</h3>
        Müşterilerimizi düşünerek, özel indirimler ve kampanyalar düzenliyoruz. E-Bilet kullanıcılarına özel
        avantajlardan yararlanmak için bültenimize abone olmayı unutmayın!
    </div>
    <div>
        E-Bilet olarak, müşterilerimize en iyi bilet alım deneyimini sunmak için sürekli olarak çalışıyoruz.
        Sizi özel etkinliklere ve keyifli anlara taşımak için buradayız!
    </div>
</div>