
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   

}

<h2 class="col-md-12 offset-1">HAKKIMIZDA</h2>
<div class=" row-cols-md-9 offset-1" style="justify-content: space-around">
    <p>
        <h3>Hoş Geldiniz!</h3>

        E-Bilet, müşterilere etkinliklere hızlı ve kolay erişim sağlayan bir online bilet platformudur.
        20 yılı aşkın deneyime sahip bir ekip tarafından kurulan şirketimiz, kültürel etkinliklerden konserlere,
        tiyatro gösterimlerinden bale etkinliklerine kadar geniş bir etkinlik yelpazesi sunmaktadır.
    </p>


    <h3>Vizyonumuz</h3>
    <p>
        Müşterilerimize en iyi eğlence deneyimini sunmayı hedefliyoruz. E-Bilet olarak, etkinliklere katılımı
        kolaylaştırmak ve müşterilerimize daha fazla seçenek sunmak için sürekli olarak çaba gösteriyoruz.
        Online bilet satışı konusundaki uzmanlığımızla, kullanıcılarımızın güvenilir ve hızlı bir şekilde
        biletlerini satın almalarını sağlıyoruz.
    </p>

    <h3> Misyonumuz</h3>
    <p>
        Misyonumuz, müşterilerimize etkinliklere erişimi kolaylaştırmak ve unutulmaz anlar yaşamalarını sağlamaktır.
        Güçlü bir teknolojik altyapı ve müşteri odaklı yaklaşımımızla, kullanıcılarımıza sorunsuz bir bilet
        alım deneyimi sunuyoruz.
    </p>

    <h3> Neden Biz?</h3>
    <p>
        Geniş Etkinlik Yelpazesi: Kültürel etkinliklerden spor karşılaşmalarına kadar geniş bir etkinlik seçeneği
        sunuyoruz.
    </p>
    <p>
        Güvenilirlik: Güvenli online ödeme sistemimiz ve gelişmiş güvenlik önlemlerimizle müşterilerimize güven
        veriyoruz.
    </p>
    <p>
        Kullanıcı Dostu Arayüz: Kolay gezinme ve hızlı bilet satın alma işlemi için kullanıcı dostu bir arayüz
        sunuyoruz.
    </p>
    <p>
        7/24 Destek: Profesyonel müşteri hizmetleri ekibimizle 7/24 müşteri desteği sağlıyoruz.
        E-Bilet olarak, sizlere unutulmaz etkinlik deneyimleri yaşatmak için buradayız. Bizi tercih ettiğiniz için
        teşekkür ederiz!
    </p>
</div>