
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>İletişim</h2>

<p style="margin-top: 30px      ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.2416745862574!2d30.32734517045118!3d40.741777172128835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1672309579570!5m2!1str!2str"
            width="1500" height="500" frameborder="1" allowfullscreen style="margin-left: 100px;"></iframe>
</p>
